<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace就是与此文件对应的Dao接口的全路径-->
<mapper namespace="com.syntun.dao.CrawlerJD144Url302ListDao" >
  <!--如下type的User就是mybatis-config.xml中配置的user-->
  <resultMap id="BaseResultMap" type="CrawlerJD144Url302List" >
    <id property="id" column="id" jdbcType="INTEGER" />
    <result property="urlGroup" column="url_group" jdbcType="VARCHAR" />
    <result property="sortId" column="sort_id" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectCrawlerJD144Url302List" resultType="CrawlerJD144Url302List">
    select * FROM url302list
  </select>
  
  <select id="selectRecord" resultMap="BaseResultMap">
    select * FROM url302list ORDER BY id ASC LIMIT #{page},#{limit}
  </select>
  
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM url302list
    <if test="urlGroup != null" > where url_group like CONCAT('%',#{urlGroup},'%') </if>
  </select>
  
  <select id="getAllList" parameterType="java.util.Map" resultMap="BaseResultMap">
     select * from url302list where url_group like CONCAT('%',#{urlGroup},'%') 
     	ORDER BY id ASC
  </select>
  
   <select id="getList" parameterType="java.util.Map"  resultMap="BaseResultMap">
     select * from url302list where 1=1 
     <if test="urlGroup != null" > and url_group like CONCAT('%',#{urlGroup},'%') </if>
      ORDER BY id ASC
      <if test="page != null" > LIMIT #{page},#{limit} </if>
  </select>
  
  <insert id="addRecord" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.Map" >
    insert into url302list (url_group, sort_id)
    values (#{urlGroup}, #{sortId})
  </insert>
  
  <update id="editRecord" parameterType="java.util.Map">
  	update url302list set 
  		url_group = #{urlGroup},
  		sort_id = #{sortId} where id = #{id}
  </update>
  
  <delete id="delRecord" parameterType="java.util.Map">
  	delete from url302list where id = #{id}
  </delete>
  
  <delete id="delAllRecord" parameterType="java.lang.Long">
    delete from url302list where id in
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

</mapper>