<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace就是与此文件对应的Dao接口的全路径-->
<mapper namespace="com.syntun.dao.CrawlerTmall144UrlListDao" >
  <!--如下type的User就是mybatis-config.xml中配置的user-->
  <resultMap id="BaseResultMap" type="CrawlerTmall144UrlList" >
    <id property="id" column="id" jdbcType="INTEGER" />
    <result property="urlGroup" column="url_group" jdbcType="INTEGER" />
    <result property="urlMd5" column="url_md5" jdbcType="VARCHAR" />
    <result property="urlStr" column="url_str" jdbcType="VARCHAR" />
    <result property="fatherUrl" column="father_url" jdbcType="VARCHAR" />
    <result property="urlData" column="url_data" jdbcType="VARCHAR" />
    <result property="sortId" column="sort_id" jdbcType="INTEGER" />
    <result property="urlCharset" column="url_charset" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectCrawlerTmall144UrlList" resultType="CrawlerTmall144UrlList">
    select * FROM url_list
  </select>
  
  <select id="selectRecord" resultMap="BaseResultMap">
    select * FROM url_list ORDER BY id ASC LIMIT #{page},#{limit}
  </select>
  
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM url_list
    <if test="urlStr != null" > where url_str like CONCAT('%',#{urlStr},'%') </if>
  </select>
  
  <select id="getAllList" parameterType="java.util.Map" resultMap="BaseResultMap">
     select * from url_list where url_str like CONCAT('%',#{urlStr},'%') 
     	ORDER BY id ASC
  </select>
  
   <select id="getList" parameterType="java.util.Map"  resultMap="BaseResultMap">
     select * from url_list where 1=1 
     <if test="urlStr != null" > and url_str like CONCAT('%',#{urlStr},'%') </if>
      ORDER BY id ASC
      <if test="page != null" > LIMIT #{page},#{limit} </if>
  </select>
  
  <insert id="addRecord" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.Map" >
    insert into url_list (url_group, url_md5, url_str, father_url, url_data, 
    							sort_id, url_charset)
    values (#{urlGroup},#{urlMd5}, #{urlStr},  #{fatherUrl}, #{urlData},
    	#{sortId}, #{urlCharset})
  </insert>
  
  <update id="editRecord" parameterType="java.util.Map">
  	update url_list set url_group = #{urlGroup}, 
  		url_md5 = #{urlMd5},
  		url_str = #{urlStr},
  		father_url = #{fatherUrl},
  		url_data = #{urlData},
  		sort_id = #{sortId},
  		url_charset = #{urlCharset} where id = #{id}
  </update>
  
  <delete id="delRecord" parameterType="java.util.Map">
  	delete from url_list where id = #{id}
  </delete>
  
  <delete id="delAllRecord" parameterType="java.lang.Long">
    delete from url_list where id in
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

</mapper>