<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syntun.dao.PlatformListDao" >
  <resultMap id="BaseResultMap" type="PlatformList" >
    <id property="id" column="id" jdbcType="INTEGER" />
    <result property="platformId" column="platform_id" jdbcType="INTEGER"/>
    <result property="platformName" column="platform_name" jdbcType="VARCHAR" />
    <result property="platformTableName" column="platform_table_name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectRecord" resultType="PlatformList">
    select * FROM platform_list
  </select>
  
  <select id="getCount" parameterType="java.util.Map"  resultType="java.lang.Integer">
    SELECT COUNT(*) FROM platform_list
    <if test="platformName != null" > where platform_name like CONCAT('%',#{platformName},'%') </if>
  </select>
  
  <select id="getAllList" resultMap="BaseResultMap">
     select * from platform_list ORDER BY id DESC
  </select>
  
  <select id="getList" parameterType="java.util.Map"  resultMap="BaseResultMap">
     select * from platform_list where 1=1 
     <if test="platformName != null" > and platform_name like CONCAT('%',#{platformName},'%') </if>
      ORDER BY platform_id ASC, id DESC
      <if test="page != null" > LIMIT #{page},#{limit} </if>
  </select>
  
  <insert id="addRecord" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.Map" >
    insert into platform_list (platform_id, platform_name, platform_table_name)
    values (#{platformId,jdbcType=INTEGER}, #{platformName,jdbcType=VARCHAR}, 
    		#{platformTableName,jdbcType=VARCHAR})
  </insert>
  
  <delete id="delRecord" parameterType="java.util.Map">
  	delete from platform_list where id = #{id}
  </delete>
  <delete id="delPromoRecord" parameterType="java.util.Map">
  	delete from promotion_compare where platform_id = (select platform_id from platform_list where id = #{id})
  </delete>
  <delete id="delPriceRecord" parameterType="java.util.Map">
  	delete from price_promotion_compute where platform_id = (select platform_id from platform_list where id = #{id})
  </delete>
  
  <delete id="delAllRecord" parameterType="java.lang.Long">
    delete from platform_list where id in
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <delete id="delAllPromoRecord" parameterType="java.lang.Long">
    delete from promotion_compare where platform_id in 
    (select platform_id from platform_list where id in 
	    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
	      #{id}
	    </foreach>
    )
  </delete>
  <delete id="delAllPriceRecord" parameterType="java.lang.Long">
    delete from price_promotion_compute where platform_id in 
    (select platform_id from platform_list where id in 
	    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
	      #{id}
	    </foreach>
    )
  </delete>
  
  <update id="editRecord" parameterType="java.util.Map">
  	update platform_list set platform_id = #{platformId,jdbcType=INTEGER}, 
  		platform_name = #{platformName,jdbcType=VARCHAR},
  		platform_table_name = #{platformTableName,jdbcType=VARCHAR}
  		where id = #{id}
  </update>
  
</mapper>