<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace就是与此文件对应的Dao接口的全路径-->
<mapper namespace="com.syntun.dao.PromotionRankDao" >
  <!--如下type的User就是mybatis-config.xml中配置的user-->
  <resultMap id="BaseResultMap" type="PromotionRank" >
    <id property="id" column="id" jdbcType="INTEGER" />
    <result property="oldPromotionTypeName" column="old_promotion_type_name" jdbcType="VARCHAR" />
    <result property="oldPromotionTypeInfo" column="old_promotion_type_info" jdbcType="VARCHAR" />
    <result property="newPromotionTypeName" column="new_promotion_type_name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectPromotionRank" resultType="PromotionRank">
    select * FROM promotion_rank
  </select>
  
  <select id="selectRecord" resultMap="BaseResultMap">
    select * FROM promotion_rank ORDER BY id DESC LIMIT #{page},#{limit}
  </select>
  
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM promotion_rank
    <if test="newPromotionTypeName != null" > where new_promotion_type_name like CONCAT('%',#{newPromotionTypeName},'%') </if>
  </select>
  
  <select id="getAllList" resultMap="BaseResultMap">
     select * from promotion_rank ORDER BY id DESC
  </select>
  
   <select id="getList" parameterType="java.util.Map"  resultMap="BaseResultMap">
     select * from promotion_rank where 1=1 
     <if test="newPromotionTypeName != null" > and new_promotion_type_name like CONCAT('%',#{newPromotionTypeName},'%') </if>
      ORDER BY id DESC
      <if test="page != null" > LIMIT #{page},#{limit} </if>
  </select>
  
  <insert id="addFiled" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.Map" >
    insert into promotion_rank (old_promotion_type_name, old_promotion_type_info, new_promotion_type_name)
    	values (#{oldPromotionTypeName,jdbcType=VARCHAR}, 
    	#{oldPromotionTypeInfo,jdbcType=INTEGER}, 
    	#{newPromotionTypeName,jdbcType=INTEGER})
  </insert>
  
  <delete id="delFiled" parameterType="java.util.Map">
  	delete from promotion_rank where id = #{id}
  </delete>
  
  <delete id="delAllFiled" parameterType="java.lang.Long">
    delete from promotion_rank where id in
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  
  <update id="editFiled" parameterType="java.util.Map">
  	update promotion_rank set old_promotion_type_name = #{oldPromotionTypeName,jdbcType=VARCHAR}, 
  		old_promotion_type_info = #{oldPromotionTypeInfo,jdbcType=VARCHAR}, 
  		new_promotion_type_name = #{newPromotionTypeName,jdbcType=INTEGER} where id = #{id}
  </update>
  
  

</mapper>